
body, h2, p, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
}

.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;

}


.card {
  padding: 30px;
  background-color: #ffffff;
  margin: auto;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

button {
  background-color: #59afc5;
  border-color: black;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

h2, p {
  margin-bottom: 20px;
}

